# Import package
 
 I will use this later for tutorials

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Credentials to database connection
hostname="localhost"
dbname="db_test_dev"
uname="root"
pwd=""

# Create dataframe
df = pd.DataFrame(data=[[111,'Thomas','35','United Kingdom'],
		[222,'Ben',42,'Australia'],
		[333,'Harry',28,'India']],
		columns=['id','name','age','country'])

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))

In [3]:
df

    id    name age         country
0  111  Thomas  35  United Kingdom
1  222     Ben  42       Australia
2  333   Harry  28           India

In [5]:
# Convert dataframe to sql table                                   
df.to_sql(name='users', con=engine, index=True, index_label="RowNum", if_exists='replace')

In [9]:
query="SELECT * FROM users"
# df2=pd.read_sql(query,engine)
print(pd.read_sql(query,engine))

   RowNum   id    name age         country
0       0  111  Thomas  35  United Kingdom
1       1  222     Ben  42       Australia
2       2  333   Harry  28           India