In [ ]:
from sqlalchemy import create_engine
my_conn = create_engine("mysql+mysqldb://root:@localhost/db_mahasiswa")
import mysql

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
# Credentials to database connection
hostname="localhost"
dbname="db_mahasiswa"
uname="root"
pwd=""

# Create dataframe
df = pd.DataFrame(data=[[111,'Thomas','35','United Kingdom'],
		[222,'Ben',42,'Australia'],
		[333,'Harry',28,'India']],
		columns=['id','name','age','country'])

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}"
				.format(host=hostname, db=dbname, user=uname, pw=pwd))

In [8]:
df

    id    name age         country
0  111  Thomas  35  United Kingdom
1  222     Ben  42       Australia
2  333   Harry  28           India

In [7]:
# Convert dataframe to sql table                                   
df.to_sql('users', engine, index=True, index_label="RowNum")

ValueError: Table 'users' already exists.

In [11]:
query="SELECT * FROM mahasiswa"
df2=pd.read_sql(query,engine)
print(df2)

   id   nim            nama             jurusan
0   1  1101          Hendri  Teknik Informatika
1   2  1102  Lord Voldemort  Teknik Informatika
2   3  1103  Newt Scamander              Fisika

In [6]:
SELECT * from users;

SyntaxError: invalid syntax (Temp/ipykernel_3364/1480861968.py, line 1)